html, body {margin: 0; height: 100%; overflow: hidden}

body {
    display: grid;
    grid-template-rows: 1fr 600px 1fr;
    grid-template-columns: 1fr;
    transition: background-color 1s;
}

.hud {
    font-weight: bold;
    grid-row: 1 / 2;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: font-size 1s;
}

#hud-player {
    z-index: 1;
    border: 3px solid #000;
    /* background-color: #fff; */
    font-size: 30px;
    padding: 0px 7px;
}

#hud-player-icon {
    font-size: 140px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #000;
    background-color: #fff;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    font-family: 'Noto Sans', sans-serif;
}

.hud .player-turn {
    font-size: 30px;
    font-weight: bold;
}
.gameboard-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameboard-container {
    grid-row: 2 / 3;
    height: 600px;
    width: 600px;
    display: grid;
    grid-template: repeat(3, 200px) / repeat(3, 200px);
}

.input-container {
    margin-top: 150px;
    grid-row: 1 / 3;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input-container input {
    height: 30px;
    width: 200px;
    border: 3px solid #000;
    text-align: center;
    font-size: 22px;
}

.input-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border: 6px solid #000;
    border-radius: 50%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 100px;
    background-color: #fff;
}

.input-ttt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-size: 24px;
}

#result-text {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.gameboard-container.show>#result-text {
    visibility: visible;
    opacity: 1;
    content: "X";
}

.gameboard-container.show {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    content: "";
    z-index: 1;
    color: #000;
}

.gameboard-container.show>div:not([id="result-text"]) {
    display: none;
}

.square {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family: 'Noto Sans', sans-serif;
}

.square .unclickable {
    pointer-events: none;
}
.top-row {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    height: 200px;
}

.middle-row {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    border-bottom: 6px solid black;
    border-top: 6px solid black;
}

.bottom-row {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: repeat(3, 200px);
}

.middle-column {
    border-left: 6px solid black;
    border-right: 6px solid black;
}


.reset-wrapper {
    grid-row: 3 / 4;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.start-wrapper {
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.start-btn {
    background-color: #fff;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: 6px solid #000;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    animation: glow 1s infinite alternate;
}


@keyframes glow {
    from {
      border: 6px solid rgb(0 0 0 / 0.8);
      box-shadow: 0 0 6px -6px rgb(0 0 0 / 0.0);
    }
    to {
      border: 6px solid rgb(0 0 0 / 1.0);
      box-shadow: 0 0 6px 6px rgb(0 0 0 / 0.4);
    }
  }

.reset-btn {
    margin-top: 60px;
    width: 100px;
    height: 100px;
    display: none;
    opacity: 0;
    transition: opacity 1.0s ease-in-out;
}

.svg-container {
    visibility: hidden;
    grid-row: 2 / 3;
    position: absolute;
    height: 600px;
    top: 0;
}

.svg-container-mobile, .svg-mobile {
    display: none;
}

 .svg-container.show {
    visibility: visible;
}

.svg {
    z-index: 1;
}

svg.reset-btn.active {
    animation-name: spin;
    animation-duration: 1s;
    transform-origin: 50% 50%;
    display: inline-block;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }
  

.path.animate {
    animation: dash 1.0s linear forwards;
}

  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

/* mobile */

@media screen and (max-width: 450px) {

    body {
        display: grid;
        grid-template-rows: 1fr 300px 1fr;
        grid-template-columns: 1fr;
        transition: background-color 1s;
    }


    .square {
        width: 100px;
        height: 100px;
    }

    .top-row,
    .middle-row,
    .bottom-row {
        grid-template-columns: repeat(3, 100px);
    }

    .middle-row {
        margin-bottom: -12px;
    }

    .right-column {
        padding-left: 6px;
    }
    
    .bottom-row {
        margin-top: 6px;
    }


    .gameboard-container {
        height: 300px;
        width: 300px;
        grid-template: repeat(3, 100px) / repeat(3, 100px);
    }

    .reset-btn {
        margin-top: 100px;
    }

    .svg-container, .svg {
        display: none;
    }

    .svg-mobile {
        z-index: 1;
        display: block;
        pointer-events: none;
        visibility: hidden;
        margin-top: 145px;
        height:300px; 
        width: 300px;
    }

    .svg-container-mobile {
        visibility: hidden;
        display: block;
        grid-row: 2/3;
        margin-top: calc(50vh - 300px);
        position: absolute;
        height: 300px;
        top: 0;
    }
    .svg-container-mobile.show, .svg-mobile {
        visibility: visible;
    }

    .square {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}