html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

button {
    border: none;
}

body {
    display: grid;
    grid-template-rows: 1fr 640px 100px;
    grid-template-columns: 1fr;
    transition: background-color 1s;
}

.hud {
    font-weight: bold;
    grid-row: 1 / 2;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: font-size 1s;
}

#hud-player {
    font-family: 'Playball', cursive;
    z-index: 1;
    border: 3px solid #000;
    /* background-color: #fff; */
    font-size: 40px;
    padding: 0px 7px;
    margin-top: 5px;
}

#hud-icon-circle {
    height: 90px;
    width: 90px;
    border: 3px solid #000;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
}

#hud-player-icon {
    font-size: 150px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
}

.hud .player-turn {
    font-size: 30px;
    font-weight: bold;
}

.gameboard-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboard-container {
    background-color: #fff;
    padding: 0 0 5px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    grid-row: 2 / 3;
    height: 600px;
    width: 600px;
    display: grid;
    grid-template: repeat(3, 200px) / repeat(3, 200px);
}

.input-container {
    margin-top: 150px;
    grid-row: 1 / 3;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input-container input {
    height: 30px;
    width: 200px;
    border: 3px solid #000;
    text-align: center;
    font-size: 22px;
}

.opponent-toggle {
    display: flex;
    width: 204px;
    margin-bottom: 10px;
    justify-content: space-between;
    border: 3px solid black;
    background-color: #000;
}

.opponent-btn, .difficulty-btn {
    width: 101px;
    height: 30px;
    text-align: center;
    font-size: 22px;
    background-color: #fff;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.opponent-btn.selected, .difficulty-btn.selected {
    background-color: #BD4F6C;
    font-weight: bold;
}

#difficulty-container {
    display: none;
}
.input-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border: 6px solid #000;
    border-radius: 50%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 150px;
    font-weight: bold;
    background-color: #fff;
}

.input-ttt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-size: 24px;
}

#result-text {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.gameboard-container.show>#result-text {
    visibility: visible;
    opacity: 1;
    content: "X";
}

.gameboard-container.show {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    content: "";
    z-index: 1;
    color: #000;
}

.gameboard-container.show>div:not([id="result-text"]) {
    display: none;
}

.square {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 130px;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
}

.square.animate {
    animation-duration: 0.5s;
    animation-name: appear;
    animation-delay: 0.0s;
    animation-fill-mode: backwards;
}

  @keyframes appear{
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.square .unclickable {
    pointer-events: none;
}

.top-row {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    height: 200px;
}

.middle-row {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    border-bottom: 6px solid black;
    border-top: 6px solid black;
}

.bottom-row {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: repeat(3, 200px);
}

.middle-column {
    border-left: 6px solid black;
    border-right: 6px solid black;
}


.reset-wrapper {
    grid-row: 3 / 4;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-wrapper {
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.start-btn {
    background-color: #fff;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: 6px solid #000;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    animation: glow 1s infinite alternate;
}


@keyframes glow {
    from {
        border: 6px solid rgb(0 0 0 / 0.8);
        box-shadow: 0 0 6px -6px rgb(0 0 0 / 0.0);
    }

    to {
        border: 6px solid rgb(0 0 0 / 1.0);
        box-shadow: 0 0 6px 6px rgb(0 0 0 / 0.4);
    }
}

.reset-btn {
    background-color: #fff;
    border-radius: 50%;
    display: none;
    opacity: 0;
    transition: opacity 1.0s ease-in-out;
    height: 60px;
    width: 60px;
}

.img-container {
    width: 100px;
    height: 100px;
}

.svg-container {
    visibility: hidden;
    position: absolute;
    height: 600px;
}

.svg-container-mobile,
.svg-mobile {
    display: none;
}

.svg-container.show {
    visibility: visible;
}

.svg {
    z-index: 1;
}

.reset-btn.active {
    animation-name: spin;
    animation-duration: 1s;
    transform-origin: 50% 50%;
    display: inline-block;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}


.path.animate {
    animation: dash 1.0s linear forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

/* mobile */

@media screen and (max-width: 855px) {

    body {
        display: grid;
        grid-template-rows: 1fr 350px 1fr;
        grid-template-columns: 1fr;
        transition: background-color 1s;
    }


    .square {
        font-size: 100px;
        width: 100px;
        height: 100px;
    }

    .top-row,
    .middle-row,
    .bottom-row {
        grid-template-columns: repeat(3, 100px);
    }

    .middle-row {
        margin-bottom: -12px;
    }

    .right-column {
        padding-left: 6px;
    }

    .bottom-row {
        margin-top: 6px;
    }


    .gameboard-container {
        height: 300px;
        width: 300px;
        grid-template: repeat(3, 100px) / repeat(3, 100px);
    }

    .svg-container,
    .svg {
        display: none;
    }

    .svg-mobile {
        z-index: 1;
        display: block;
        pointer-events: none;
        visibility: hidden;
        margin-top: 145px;
        height: 300px;
        width: 300px;
    }

    .svg-container-mobile {
        visibility: hidden;
        display: block;
        grid-row: 2/3;
        margin-top: calc(50vh - 300px);
        position: absolute;
        height: 300px;
        width: 300px;
        top: 0;
        border: 1px solid red;
    }

    .svg-container-mobile.show,
    .svg-mobile {
        visibility: visible;
    }

    .square {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-height: 700px) {
    body {
        grid-template-rows: 1fr 350px 150px;
    }

}